# Copy this file to .env and update the values below

# Application Settings
APP_NAME=Lavalust
APP_KEY=aaf2f21670e4ae68a54d00b6a6b21f10f5044d80f7e153d87917ee0400dd1c55
APP_ENV=development

# Database Configuration
DB_HOST= 
DB_PORT= 
DB_USER= 
DB_PASSWORD=
DB_NAME= 
